<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility, Culture=neutral"
      type="VaultWebView.WebView, VaultWebView">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>




